<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475675865282-rtgcdivlbpjbr2r6que3kli0eacog8gc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475675865282-rtgcdivlbpjbr2r6que3kli0eacog8gc</string>
	<key>API_KEY</key>
	<string>AIzaSyCAe6YETt93Cuv04H9o4um-SSTOjsdBh9o</string>
	<key>GCM_SENDER_ID</key>
	<string>475675865282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackathon</string>
	<key>PROJECT_ID</key>
	<string>hackathon-d67e5</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-d67e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475675865282:ios:69dffc5d84b45758eb8b5b</string>
</dict>
</plist>